@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

* {
    font-family: 'VT323', monospace;

}

.header-text {
    color: white;
}

#gif {
    width: 32vw;
    height: 32vw;
    background-image: url(https://media.giphy.com/media/LL5FiPJnlFnjy/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    background-color: #111111;
}